@import '~node_modules/modern-normalize/modern-normalize.css';

body {
    background-color: $mainColor;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.04em;
    color: $seconaryColor;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;

  }

  





