@mixin mobile {
    @media screen and (min-width: 420px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1280px) {
        @content;
    }
}

@mixin padding {
    padding: 0 16px;

    @include tablet() {
        padding: 0 24px;
    }
        
    @include desktop() {
        padding: 0 28px;
    }
}