<div class="backdrop is-hidden-final" data-modal-final>

    <div class="final-modal">
        <button type="button" 
            class="modal-close-button" data-modal-final-close>
              <svg class="modal-close-icon" area-label="modal window switcher">
                    <use href="./images/sprite.svg#icon-close"></use>
              </svg>
        </button>
        <p class="final-title">Thank you </p>
        <p class="final-text">We have received your contact details and will reach you soon. </p>
          
        <button data-modal-final-btn-close type="submit" class="final-button">Continue</button>
    </div>
</div>