<footer class="footer">
     <ul class="footer-wrapper">
        <li class="box5">
            <a class="footer-logo" href="./index.html">
                <svg class="footer-logo">
                   <use href="./images/sprite.svg#icon-footer-logo"></use>
                </svg>
             </a>
        </li>
        <li class="box1">
            <h3 class="footer-title">Navigation</h3>
            <nav class="footer-links">
                <a href="#anemone"class="footer-list">Anemone</a>
                <a href="#about" class="footer-list">About us</a>
                <a href="#store" class="footer-list">Store</a>
                <a href="#delivery" class="footer-list">Delivery</a>
            </nav>
        </li>
        <li class="box3">
            <h3 class="footer-title">Contacts</h3>
                <ul>
                   <li class="footer-list"><a href="tel:+380631234567">+38 063 123 45 67</a></li>
                   <li class="footer-list"><a href="mailto:anemonestudio@example.com">anemonestudio<span class="email">@example.com</span></a></li>
                   <li class="footer-list">Reitarska Street, 11<br/>
                    Kyiv, Ukraine</li>
                </ul>
        </li>
        <li class="box2">
            <h3 class="footer-title">Opening hours</h3>
            <p class="footer-text">Every day <br/>9:00 - 22:00</p>
        </li>
        <li class="box4">
            <ul class="footer-icons">
                <li>
                    <a href="https://www.facebook.com/" aria-label='facebook'
                    rel="noopener noreferrer nofollow" target='_blank'>
                        <svg class="icon_footer">
                        <use href="./images/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" aria-label='instagram'
                    rel="noopener noreferrer nofollow" target='_blank'>
                        <svg class="icon_footer">
                            <use href="./images/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</footer>