<header>
   <div class="container">

   <a class="logo" href="./index.html">
      <svg class="logo-icon">
         <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
   </a>
   <nav class="nav">
   <ul class="links">
      <li class="link-item"><a href="#">Anemone</a></li>
      <li class="link-item"><a href="#">About us</a></li>
      <li class="link-item"><a href="#">Store</a></li>
      <li class="link-item"><a href="#">Delivery</a></li>
      <li class="link-item"><a href="#">Blog</a></li>
   </ul>
</nav>
<div>
<a class="tel" href="tel:#">
   <svg class="tel-icon">
      <use href="./images/sprite.svg#icon-tel"></use>
   </svg>
</a>

<button type="button" class="header-button">
   <svg class="burger-icon">
      <use href="./images/sprite.svg#icon-burger"></use>
   </svg>
</button>
</div>
   </div>
 
</header>