<section class="hero" id="anemone">
    <div class="hero-container">
      <h1 class="hero-title">ANEMONE</h1>
      <h2 class="hero-badge">flower studio</h2>
      <button data-modal-contact-open type="button" class="hero-btn">
        <svg class="btn-icon" width="166" height="166">
          <use href="./images/sprite.svg#btn-txt" class="btn-text"></use>
          <use href="./images/sprite.svg#btn-arrow" class="btn-arrow"></use>
        </svg>
      </button>
    </div>
    <div class="hero-shape">
      <img class="hero-img" 
      srcset="
        ./images/image_home_mobile.jpg 380w, 
        ./images/image_home_mobile@2x.jpg 600w,
        ./images/image_home_tablet.jpg 768w, 
        ./images/image_home_tablet@2x.jpg 1136w, 
        ./images/image_home_desktop.jpg 1280w, 
        ./images/image_home_desktop@2x.jpg 2560w"
        src="./images/image_home_mobile.jpg" 
          alt="Flower studio preview"
          sizes="100vw"> 
     
    </div>
  </section>