<section class="section">
    <div class="container">
    <h2>STORE</h2>
    <ul class="store-list">
        <li class="store-item">
            <img class="store-img"
            srcset="
            ./images/bouquet1_mobile@1x.jpg 136w, 
            ./images/bouquet1_mobile@2x.jpg 727w, 
            ./images/bouquet1_tablet@1x.jpg 344w,
            ./images/bouquet1_tablet@2x.jpg 688w,
            ./images/bouquet1_desktop@1x.jpg 600w,
            ./images/bouquet1_desktop@2x.jpg 1200w"
            src="./images/bouquet1_mobile@1x.jpg" 
              alt="Bouquet 1"
              sizes="50vw"
              loading ="lazy"> 
            <div>
                <p class="bouquet-size">compliments</p>
                <p class="bouquet-price">from $15</p>
            </div>
        </li>
        <li class="store-item">
            <img class="store-img"
            srcset="
            ./images/bouquet2_mobile@1x.jpg 136w, 
            ./images/bouquet2_mobile@2x.jpg 727w, 
            ./images/bouquet2_tablet@1x.jpg 344w,
            ./images/bouquet2_tablet@2x.jpg 688w,
            ./images/bouquet2_desktop@1x.jpg 600w,
            ./images/bouquet2_desktop@2x.jpg 1200w"
            src="./images/bouquet1_mobile@1x.jpg" 
              alt="Bouquet 1"
              sizes="50vw"
              loading ="lazy"> 
            <div>
                <p class="bouquet-size">bouquets size S</p>
                <p class="bouquet-price">from $25</p>
            </div>
        </li>
        <li class="store-item">
            <img class="store-img"
            srcset="
            ./images/bouquet3_mobile@1x.jpg 136w, 
            ./images/bouquet3_mobile@2x.jpg 727w, 
            ./images/bouquet3_tablet@1x.jpg 344w,
            ./images/bouquet3_tablet@2x.jpg 688w,
            ./images/bouquet3_desktop@1x.jpg 600w,
            ./images/bouquet3_desktop@2x.jpg 1200w"
            src="./images/bouquet1_mobile@1x.jpg" 
              alt="Bouquet 1"
              sizes="50vw"
              loading ="lazy"> 
            <div>
                <p class="bouquet-size">bouquets size M</p>
                <p class="bouquet-price">from $45</p>
            </div>
        </li>
        <li class="store-item">
            <img class="store-img"
            srcset="
            ./images/bouquet4_mobile@1x.jpg 136w, 
            ./images/bouquet4_mobile@2x.jpg 727w, 
            ./images/bouquet4_tablet@1x.jpg 344w,
            ./images/bouquet4_tablet@2x.jpg 688w,
            ./images/bouquet4_desktop@1x.jpg 600w,
            ./images/bouquet4_desktop@2x.jpg 1200w"
            src="./images/bouquet1_mobile@1x.jpg" 
              alt="Bouquet 1"
              sizes="50vw"
              loading ="lazy"> 
            <div>
                <p class="bouquet-size">bouquets size L</p>
                <p class="bouquet-price">from $60</p>
            </div>
        </li>
    </ul>
    <button type="button" class="store-button">Order flowers</button>
</div>
</section>