.carousel {
    margin-bottom: 4px;

    @include tablet() {
        margin-bottom: 8px;
        margin-left: -10px;
    }

    @include desktop() {
        margin-bottom: 18px;
     }
}
.slick-slide {
    margin: 0 16px;

    @include tablet() {
        margin: 0 16px;
    }
}


.blog-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 14px;
   
    @include tablet() {
        margin-bottom: 18px;
    }

    @include desktop() {
        margin-bottom: 24px;
    }
}

.blog-text {
    text-align: center;
    @extend %text;
    font-size: 18px;
    margin-bottom: 24px;

    @include tablet() {
        font-size: 32px;
        margin-bottom: 32px;
    }
}


