.list {
    margin-bottom: 26px;

    @include tablet() {
        margin-bottom: 40px;
    }

    @include desktop() {
        margin-bottom: 60px;
    }
}

.item {
    display: flex;
    align-items: center;
    justify-content: start;
    @extend %text;
    gap: 8px;

    @include tablet() {
        font-size: 24px;
        gap: 20px;
    }

    @include desktop() {
        font-size: 32px;
        gap: 56px;
    }
}

.item:not(:last-child) {
    margin-bottom: 14px;

    @include tablet() {
        margin-bottom: 20px;
    }

    @include desktop() {
        margin-bottom: 32px;
    }
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid $seconaryColor;
  text-align: center;
  font-size: 20px;
  flex-shrink: 0;

  @include tablet() {
    width: 64px;
    height: 64px;
    font-size: 26px;
 }
}

