.hero {
    position: relative;
    width: 100%;
    height: 389px;
    margin: 0 auto 100 auto;

    @include tablet() {
        height: 825px;
      }

    @include desktop() {
        height: 850px;  
      }
    @include padding();
  }

  .hero-container {
    max-width: 1280px;
    position: relative;
    z-index: 10;
    height: 100%;
  
    margin: 0 auto;
    @include padding();
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .hero-title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  
    font-weight: 400;
    font-size: 52px;
    line-height: calc(195 / 160);
    --shift-to-y: -157px;
  
    animation: move-vertical 1000ms ease-out 1000ms both;

    @include tablet() {
        font-size: 120px;
        --shift-to-y: -334px;
      }

    @include desktop() {
        font-size: 160px;
        --shift-to-y: -355px;
      }
  }
  .hero-title::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 7px;
  
    width: 18px;
    height: 3px;
    background-color: currentColor;

    @include tablet() {
        top: 15px;
        right: 13px;
  
        width: 45px;
        height: 5px;
      }

    @include desktop() {
        top: 20px;
        right: 21px;
  
        width: 58px;
        height: 8px;
      }
  }
  .hero-badge {
    width: 46px;
    font-size: 14px;
    line-height: 17px;
    --shift-from-x: 0;
    --shift-to-x: -10px;
    --shift-to-y: 80px;
  
    animation: move-vertical 1000ms ease-out 1000ms both;

    @include tablet() {
        width: 76px;
        font-size: 24px;
        line-height: 29px;
        --shift-to-x: -20px;
        --shift-to-y: 160px;
      }

    @include desktop() {
        width: 102px;
        font-size: 32px;
        line-height: 39px;
        --shift-to-x: -90px;
        --shift-to-y: 170px;
      }
  }
  .hero-btn {
    animation: move-vertical 1000ms ease-out 1000ms both;
    --shift-from-x: 0;
    --shift-to-x: 11px;
    --shift-to-y: 80px;

    @include tablet() {
        --shift-to-x: 5px;
        --shift-to-y: 160px;
      }

    @include desktop() {
        --shift-to-x: 25px;
        --shift-to-y: 170px;
      }
  }

  .btn-icon {
    width: 64px;
    height: 76px;

    @include tablet() {
        width: 145px;
        height: 150px;
      }

    @include desktop() {
        width: 166px;
        height: 166px;
      }
  }
  
  .btn-text {
    transform-origin: center;
    animation: infinity-rotate 30s linear 4s infinite;
  }
  .hero-btn:hover .btn-text,
  .hero-btn:focus .btn-text {
    animation-play-state: paused;
  }
  
  .btn-arrow {
    transform-origin: center;
    transition: transform 500ms ease-out;
  }
  .hero-btn:hover .btn-arrow,
  .hero-btn:focus .btn-arrow {
    transform: rotate(-122deg);
  }

  .hero-shape {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  
    width: 100%;
    height: 100%;
  
    animation: scale-up-center 1000ms ease-out 1000ms both;
  }
  .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
 
  @keyframes scale-up-center {
    0% {
      clip-path: inset(150px 421px 92px 421px round 226px);
    }
    50% {
      clip-path: inset(150px 345px 92px 345px round 226px);
    }
    100% {
      clip-path: inset(0 round 0);
    }
  }
  
  @keyframes move-vertical {
    from {
      transform: translateX(var(--shift-from-x, -50%))
        translateY(var(--shift-from-y, 0));
    }
    to {
      transform: translateX(var(--shift-to-x, -50%))
        translateY(var(--shift-to-y, 0));
      color: #fff;
      fill: #fff;
    }
  }
  
  @keyframes infinity-rotate {
    from {
      transform: rotate(-360deg);
    }
    to {
      transform: rotate(0);
    }
  }